html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
    font-family: 'Open Sans', sans-serif !important;
}

.background-box {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 60%;
    background-color: rgba(221, 221, 221, 0.48);
    margin: 0 0;
    left: 0;
    z-index: 10;
}

.animated {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(171, 205, 239, 0);
    position: relative;
}

.left-space {
    height: 25%;
}

.right-space {
    height: 20%;
}

.left {
    width: 44%;
}

.right {
    width: 55%;
}

.left {
    padding-right: 40px;
}

.right {
    padding-left: 40px;
}

.content-item {
    width: 60%;
    position: relative;
    align-self: flex-end;
    margin: 0 5% 0 0;
}

.items-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around
}

.item {
    display: flex;
    justify-content: flex-end;
}

.items {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number {
    font-size: 3.5em;
    color: #47BBEA;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    animation: createBox 1s;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

.divider {
    width: 3px;
    height: 90%;
    z-index: 150;
    background-color: #ffffff;
}

.animatedSlideUp {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@keyframes createBox {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #636363;
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
    z-index: 150;
}

.content-number {}

.content p {
    margin: 0px;
    font-size: 1.2em;
    font-weight: 300;
    transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
}

.box-wrapper {
    height: 100%;
    position: relative;
    z-index: 150;
}

.blue-gradient-box {
    background-image: linear-gradient(to bottom, transparent 30%, #16AEEC);
    height: 50vh;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
    box-shadow: -5px 10px 8px #888888;
    transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
}

.right-content {
    color: white;
    font-weight: bold;
    font-size: 2em;
    transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
}

.gray-gradient-box {
    background-color: #A6A6A4;
    position: absolute;
    top: 0;
    z-index: 150;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 100%, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 100%, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.animatedRight {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    70% {
        opacity: 0;
        -webkit-transform: translate3d(70%, 0, 0);
        transform: translate3d(70%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    70% {
        opacity: 0;
        -webkit-transform: translate3d(70%, 0, 0);
        transform: translate3d(70%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.polybox {
    position: absolute;
    top: 0;
    left: 1000px;
    width: 570px;
    height: 100%;
    transition: all 2s ease;
    -o-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -webkit-transition: all 2s ease;
}

.polybox,
.gray-gradient-box {
    width: 570px;
    height: 100%;
}

.fadeInScaleAnimated {
    -webkit-animation-name: fadeInScale;
    animation-name: fadeInScale;
}

@keyframes fadeInScale {
    0% {
        transform: scale(0) translate3d(0, 0, 0);
        -o-transform: scale(0) translate3d(0, 0, 0);
        -ms-transform: scale(0) translate3d(0, 0, 0);
        -webkit-transform: scale(0) translate3d(0, 0, 0);
        -moz-transform: scale(0) translate3d(0, 0, 0);
    }
    80% {
        transform: scale(1) translate3d(-950px, 0, 0);
        -o-transform: scale(1) translate3d(-950px, 0, 0);
        -webkit-transform: scale(1) translate3d(-950px, 0, 0);
        -ms-transform: scale(1) translate3d(-950px, 0, 0);
        -moz-transform: scale(1) translate3d(-950px, 0, 0);
    }
    100% {
        transform: translate3d(-1000px, 0, 0);
        -o-transform: translate3d(-1000px, 0, 0);
        -webkit-transform: translate3d(-1000px, 0, 0);
        -ms-transform: translate3d(-1000px, 0, 0);
        -moz-transform: translate3d(-1000px, 0, 0);
    }
}

@-webkit-keyframes fadeInScale {
    0% {
        transform: scale(0) translate3d(0, 0, 0);
        -o-transform: scale(0) translate3d(0, 0, 0);
        -ms-transform: scale(0) translate3d(0, 0, 0);
        -webkit-transform: scale(0) translate3d(0, 0, 0);
        -moz-transform: scale(0) translate3d(0, 0, 0);
    }
    80% {
        transform: scale(1) translate3d(-950px, 0, 0);
        -o-transform: scale(1) translate3d(-950px, 0, 0);
        -webkit-transform: scale(1) translate3d(-950px, 0, 0);
        -ms-transform: scale(1) translate3d(-950px, 0, 0);
        -moz-transform: scale(1) translate3d(-950px, 0, 0);
    }
    100% {
        transform: translate3d(-1000px, 0, 0);
        -o-transform: translate3d(-1000px, 0, 0);
        -webkit-transform: translate3d(-1000px, 0, 0);
        -ms-transform: translate3d(-1000px, 0, 0);
        -moz-transform: translate3d(-1000px, 0, 0);
    }
}

.gray-animated {
    animation: fadeInScale 5.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
}